<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Exception handler 사용하기</h1>

    <h2>local Exception handler</h2>
    <h3>@ExceptionHandler</h3>
    <button onclick="location.href='controller-null'">Null pointerException 테스트</button>
    <h3>@MemberRegistException</h3>
    <button onclick="location.href='controller-user'">MemberRegistException 테스트</button>

    <hr>

    <h2>global exception handler</h2>
    <a href="other-controller-null">global null pointer</a>
    <a href="other-controller-user">global custom Exception</a>
    <a href="other-controller-array">global Exception</a>


</body>
</html>