<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
      <tr>
        <th>메뉴 번호</th>
        <th>메뉴 이름</th>
        <th>메뉴 가격</th>
        <th>카테고리 코드</th>
        <th>상태</th>
      </tr>
      <!-- thymeleaf 문법의 foreach문 이용-->
      <tr th:each="menu : ${menu}">
        <td th:text="${menu.code}"></td>
        <td th:text="${menu.name}"></td>
        <td th:text="${menu.price}"></td>
        <td th:text="${menu.categoryCode}"></td>
        <td th:text="${menu.status}"></td>
      </tr>
    </table>
</body>
</html>